<div class="sms <%- style %>">
    <img class=sms-image4 src=<%= source1 %>>
    <img class=sms-image4 src=<%= source2 %>>
    <img class=sms-image4 src=<%= source3 %>>  
    <img class=sms-image4 src=<%= source4 %>>  
</div>